* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.divider {
  border: none;
  min-height: 1px;
  background-image: linear-gradient(to right, #f0f0f0, #8f8f8fbd, #f0f0f0);
}

main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 30px;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
}

section.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  fieldset {
      padding: 10px;
      border: 2px solid rgb(217, 217, 217);
      border-radius: 3px;

      legend {
          padding: 0 10px;
          font-size: 18px;
          font-weight: 700;
      }

      .radio-wrapper {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 7px;
      }

      label {
          font-size: 15px;
      }

      input[type=radio] {
          height: 18px;
          aspect-ratio: 1;
      }
  }

  .para-wrapper {
      height: 112px;

      p {
          color: rgb(127, 124, 124);
          line-height: normal;
      }

      #vPara,
      #cPara,
      #chPara {
          display: none;
      }

      p#vPara {
          display: block;
      }

      p::first-letter {
          margin-right: 1px;
          font-size: 20px;
          font-weight: 900;
          color: rgb(30, 29, 29);
      }
  }

  .name-wrapper {
      display: flex;
      gap: 20px;

      #userinput {
          padding: 5px 10px;
          height: 40px;
          width: 80%;
          border: 2px solid rgb(217, 217, 217);
          border-radius: 3px;

          &:focus {
              outline: none;
          }
      }

      #calculate {
          height: 40px;
          width: 20%;
          border: none;
          border-radius: 3px;
          background-color: rgb(79, 90, 215);
          color: white;
          cursor: pointer;
          font-weight: 500;
      }
  }
}

section.right {
  width: 50%;

  fieldset {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      border: 2px solid #08319a84;
      border-radius: 3px;
      padding: 10px 10px 10px 10px;
      position: relative;

      .overlay {
          /* display: none; */
          position: absolute;
          top: -13px;
          left: 0;
          height: calc(100% + 13px);
          width: 100%;
          background-color: #4765c716;
          border-radius: 3px;
          backdrop-filter: blur(2.5px);
      }

      legend {
          margin: 0 auto;
          padding: 3px 15px;
          font-size: 18px;
          font-weight: 700;
          z-index: 10000;
          background-color: #FFFFFF;
          border-radius: 3px;
      }

      .letter-query {
          height: 85%;
          padding: 0 0 10px 0;
          display: flex;
          justify-content: center;
          align-content: start;
          flex-wrap: wrap;
          gap: 20px;
          overflow: auto;

          &::-webkit-scrollbar {
              appearance: none;
              width: 5px;
          }

          &::-webkit-scrollbar-track {
              background-color: rgb(243, 243, 243);
              border-radius: 5px;

          }

          &::-webkit-scrollbar-thumb {
              background-color: #4F5AD7;
              border-radius: 5px;
          }


          kbd {
              background-color: #eee;
              border-radius: 3px;
              border: 1px solid #b4b4b4;
              box-shadow:
                  0 1px 1px rgba(0, 0, 0, 0.2),
                  0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
              color: #333;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 30px;
              aspect-ratio: 1 / 1;
              font-size: 22px;
              font-weight: 500;
              white-space: nowrap;
          }
      }

      .count-content {
          padding: 0 10px;
          width: 100%;
          height: 15%;
          display: flex;
          justify-content: center;
          gap: 10px;
          align-items: center;
          color: rgb(255, 255, 255);
          background-color: #4F5AD7;
          border-radius: 3px;

          span {
              display: inline-flex;
              align-items: center;
              font-size: 18px;

          }
      }
  }
}

@media (max-width: 426px) {
  main{
      width: 90%;
      height: fit-content;
      flex-direction: column;
      gap: 0;
      justify-content: space-between;


      section.left{
          height: 60%;
          width: 100%;

          .para-wrapper {
              height: 132.8px;
          }
      }

      section.right{
          height: 216.55px;
          max-height: 40%;
          width: 100%;
      }


  }
}